.body-content 
{
    font-family: 'Times New Roman';
    padding: 10px;
    font-size: 1.5vw;
}

input,
select,
textarea { max-width: 280px; }

h2
{
    font-size: 2.5vw;
}

.calendar 
{
    width: 100%;
    vertical-align: middle;
    border-spacing: 3px;
    border-collapse:separate;
}

.weekDayHeaderLabel 
{
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;    
    border-radius: 3px;
    background-color: #AAAAFF;
    color: #000066;
}

.weekHeaderLabel 
{
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    background-color: #AAAAFF;
    color: #000066;
}

.weekButton
{
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    background-color: #CCFFFF;
    color: #000066;
}

.weekButton:hover
{
    background-color: #009999;
    border-color: darkgray;
}

.weekButton:active
{
    background-color: #006666;
    border-color: black;
}

.dayCell
{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    padding: 0px;
}

.todayCell
{
    border-color: black;
    background-color: #FFFF66;
}

.dayCellContainer
{

}

.dayHeader
{
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px 3px 0px 0px;
    font-size: 1.2vw;
    color: #000066;
}

.appointmentsList 
{

}

.appointmentItem 
{
    border-width: 1px;
    border-color: #009999;
    border-radius: 3px;
    border-style: solid;
    font-size: 1.1vw;
    color: #009999;
    margin-top: 1px;
}