.body-content 
{
    font-family: 'Times New Roman';
    padding: 10px;
    font-size: 1.5vmax;
    overflow: auto;
}

input,
select,
textarea { max-width: 280px; }

h2
{
    font-size: 2vmax;
}

.calendar 
{
    vertical-align: middle;
    margin: auto;
    border-spacing: 3px;
    border-collapse:separate;
}

tr
{
    height: 14vh;
}

.weekDaysTr
{
    height: 6vh;
}

td
{
    width: 12vw;
}

.weekDayHeaderLabel 
{
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;    
    border-radius: 3px;
    background-color: #AAAAFF;
    color: #000066;
}

.weekHeaderLabel 
{
    width: 4vw;
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    background-color: #AAAAFF;
    color: #000066;
}

.weekButton
{
    width: 4vw;
    text-align: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    background-color: #CCFFFF;
    color: #000066;
}

.weekButton > a,
.weekButton > a:hover,
.weekButton > a:active
{
    text-decoration: none;
    color: inherit;
}

.weekButton:hover
{
    background-color: #009999;
    border-color: darkgray;
}

.weekButton:active
{
    
    background-color: #006666;
    border-color: black;
}

.dayCell
{   
    vertical-align: top;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
}

.todayCell
{
    border-color: black;
    background-color: #FFFF66;
}

.dayCellContainer
{
    cursor: default;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 14vh;
    width: 12vw;
}

.dayHeader
{
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px 3px 0px 0px;
    font-size: 1.2vmax;
    color: #000066;
}

.appointmentItem 
{
    width: 100%;
    display: block;
    border-width: 1px;
    border-color: #009999;
    border-radius: 3px;
    border-style: solid;
    font-size: 1.1vmax;
    color: #009999;
    margin-top: 1px;
}

.appointmentItem:hover,
.appointmentItem:focus
{
    color: #009999;
    text-decoration: none;
}